*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}


.App{
  padding: 30px;
}


.card{
  background-color: lightgreen;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  padding: 3rem;
  
}
.Container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.Encabezado{
  
  display: flex;
  justify-content: center;
  align-items: center;
}